* {
  text-decoration: none;
}

html {
  background-color: #1e1e1e;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark track color */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Dark thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* Darker thumb color when hovering */
}
